@media print, (max-width: 1500px) {

    .first-section_title {
        font-size: 80px;
        margin-bottom: 160px;
    }
    .first-section_img {
        right: -135px;
    }
    header .btn {
        margin-right: 0;
    }
    .service_title {
        right: 0;
        top: -30px;
        font-size: 190px;
    }


}

