/* For old browsers */
@supports (not(--css: variables)) {
    .supports_error {
        display: flex !important;
    }
}

/* For IE */
@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
    .supports_error {
        display: flex !important;
    }
}



/*------------------
    Reset styles
------------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*:before,
*:after {
    box-sizing: border-box;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;

    overscroll-behavior: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-overflow-scrolling: touch;
    text-rendering: optimizeLegibility;
    text-decoration-skip: objects;
}

img {
    border-style: none;
}

textarea {
    overflow: auto;
}

input,
textarea,
input:active,
textarea:active,
button {
    margin: 0;

    -webkit-border-radius: 0;
    border-radius: 0;
    outline: none transparent !important;
    box-shadow: none;

    -webkit-appearance: none;
    appearance: none;
    -moz-outline: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    margin: 0;

    -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance: textfield;
}

:focus {
    outline: 0;
}

:hover,
:active {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
}


::-ms-clear {
    display: none;
}





/*-------------------
    Global styles
-------------------*/
:root {
    --bg: #fff;
    --scroll_width: 17px;
    --text_color: #000;
    --font_size: 14px;
    --font_size_title: 28px;
    --font_family: 'Geologica';
}


::selection {
    color: #fff;

    background: #18A0FB;
}

::-moz-selection {
    color: #fff;

    background: #18A0FB;
}


.clear {
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}



html {
    height: 100%;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height: fill-available;
}

/*
html.custom_scroll ::-webkit-scrollbar
{
    width: 10px;
    height: 10px;

    background-color: #ccc;
}

html.custom_scroll ::-webkit-scrollbar-thumb
{
    background-color: #de041d;
}

html.custom_scroll
{
    scrollbar-color: #de041d #ccc;
    scrollbar-width: thin;
}

*/
body {
    color: var(--text_color);
    font-family: var(--font_family);
    font-size: var(--font_size);
    height: 100%;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height: fill-available;
}


button {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;

    display: inline-block;

    cursor: pointer;
    vertical-align: top;

    border: none;
    background: none;
}


.wrap {
    position: relative;

    display: flex;
    overflow: hidden;
    flex-direction: column;

    min-width: 360px;
    min-height: 100%;

    background: #fff;
}


.main {
    flex: 1 0 auto;
}


.cont {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
}


.lozad {
    transition: opacity .5s linear;

    opacity: 0;
}

.lozad.loaded {
    opacity: 1;
}


.row {
    display: flex;

    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
}



.overlay {
    position: fixed;
    z-index: 102;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;

    opacity: .65;
    background: #000;
}



.supports_error {
    font-size: 20px;
    line-height: 30px;

    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;
    padding: 20px;

    text-align: center;

    background: #fff;

    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.supports_error.show {
    display: flex;
}





/*------------
    Header
------------*/


header {
    padding: 14px 0 21px;
}

header .cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 336px;
}

header .menu .item a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: #000;
    letter-spacing: 0.05em;
    transition: all .4s;
    white-space: nowrap;
    margin-right: 50px;
    text-transform: uppercase;
    position: relative;
}

header .menu .item:first-child a::before {
    position: absolute;
    content: "";
    width: 40px;
    height: 3px;
    background: #FE7449;
    left: -50px;
    top: 5px;
}

header .menu .item:first-child a::after {
    position: absolute;
    content: "";
    width: 40px;
    height: 3px;
    background: #FE7449;
    left: -50px;
    top: 12px;
}

header .menu .item a:hover {
    color: #FE7449;
}

.header_logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 22px;
    font-weight: 300;
    line-height: 28px;
    color: #000;
}

.header_logo img {
    display: block;
    margin-right: 21px;
}

header .btn {
    width: 228px;
    height: 62px;
    border-radius: 50px;
    border: 1px solid #FE7449;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    transition: all .4s;
    margin-right: -109px;
}

header .btn:hover {
    background: #FE7449;
    color: #fff;
}


.first-section {
    background: url(../images/first-section-bg.png);
    background-position: 100% bottom;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 20px;
}

.first-section .cont {
    display: flex;
    justify-content: space-between;
    position: relative;
    min-height: 822px;
}

.first-section_info {
    margin-top: 52px;
    z-index: 2;
}

.first-section_title {
    font-size: 100px;
    font-weight: 300;
    line-height: 1.3;
    margin-bottom: 136px;
}

.first-section_title span {
    font-weight: 500;
    color: #FE7449;
}

.form_title {
    font-size: 28px;
    font-weight: 300;
    line-height: 39px;
    color: #fff;
    margin-bottom: 20px;
}

form .line {
    display: flex;
    align-items: center;
}

form .line .field {
    width: 400px;
    position: relative;
    margin-right: 10px;
}

form .line .field img {
    position: absolute;
    left: 50px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
}

form .line input {
    padding: 0 20px 0 94px;
    width: 100%;
    height: 85px;
    border-radius: 100px;
    border: none;
    font-size: 18px;
    font-weight: 300;
    line-height: 25px;
    letter-spacing: 0em;
}

.first-section_img {
    position: absolute;
    right: -224px;
    bottom: 0;
    width: 587px;
    height: 798px;
}

.first-section_img img {
    display: block;
    width: 100%;
    height: 100%;
}

.first-section button {
    width: 400px;
    height: 85px;
    border-radius: 100px;
    background: #FE7449;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
    line-height: 85px;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .4s;
}

.first-section button:hover {
    background: #FE5449;
}

.first-section button:focus {
    background: #FF8780;
}

.first-section button img {
    display: block;
    margin-left: 10px;
    width: 27px;
    height: 27px;
}

.form_politic {
    font-size: 12px;
    font-weight: 300;
    line-height: 16px;
    margin-top: 20px;
    color: #fff;
}

.first-section_author {
    padding: 30px 50px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 500px;
    position: absolute;
    bottom: 20px;
    left: -77px;
}

.first-section_name {
    font-size: 22px;
    font-weight: 500;
    line-height: 31px;
    margin-bottom: 9px;
    letter-spacing: 0em;
}

.first-section_post {
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
}


.service {
    position: relative;
    background: #F9F9F9;
    padding: 100px 0;
    margin-bottom: 20px;
}

.service_title {
    position: absolute;
    right: -105px;
    top: -60px;
    font-weight: 700;
    font-size: 300px;
    line-height: 125%;
    text-transform: uppercase;
    -webkit-text-stroke: 3px #E8E8E8;
    -webkit-text-fill-color: transparent;
}

.service_box+.service_box {
    margin-top: 40px;
}

.service_box-top {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.service_box-icon {
    width: 50px;
    height: 50px;
}

.service_box-info {
    margin-left: 20px;
}

.service_box-title {
    font-size: 32px;
    font-weight: 300;
    line-height: 40px;
    margin-bottom: 5px;
}

.service_box-text {
    font-size: 16px;
    font-weight: 300;
    line-height: 21px;
}

.service_items {
    display: flex;
    flex-wrap: wrap;
}

.service_items>* {
    padding: 40px 30px 20px;
    border: 1px solid #EEEEEE;
    width: calc(100%/4);
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #000;
}

.service_item {
    background: #fff;
    transition: all .3s;
    position: relative;
}

.service_item-title {
    font-size: 18px;
    font-weight: 300;
    line-height: 25px;
    color: #000;
    z-index: 2;
    margin-bottom: 17px;
}

.service_item-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: auto;
    height: 42px;
    width: 100%;
    border-radius: 100px;
    border: 1px solid #FE7449;
    padding: 0 10px 0 20px;
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
    color: #000;
    z-index: 2;
}

.service_item-link img {
    width: 23px;
    height: 23px;
}
.service_item:hover {
    background: url(../images/service-item-bg.svg), #FE7449;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.service_item:hover .service_item-title {
    color: #fff;
}

.service_item:hover .service_item-link {
    background: #fff;
}

.service_box:nth-child(2) .service_item:nth-child(9) {
    width: 50%;
}

.service_box:nth-child(2) .service_item:nth-child(10) {
    width: 50%;
}

.service_box:nth-child(3) .service_item:nth-child(5) {
    width: 50%;
}

.service_box:nth-child(3) .service_item:nth-child(6) {
    width: 50%;
}

.service_box:nth-child(4) .service_item:nth-child(5) {
    width: 50%;
}

.service_box:nth-child(4) .service_item:nth-child(6) {
    width: 50%;
}



.callback {
    background: url(../images/callback_bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 97px 0 97px;
    margin-bottom: 20px;
}

.callback_title {
    font-size: 60px;
    font-weight: 400;
    line-height: 78px;
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
}

.callback_text {
    font-size: 28px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    margin-bottom: 50px;
    color: #fff;
}

.callback form {
    max-width: 810px;
    width: 100%;
    margin: 0 auto;
}

.callback button {
    width: 400px;
    height: 85px;
    border-radius: 100px;
    background: #FE7449;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
    line-height: 85px;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .4s;
}

.callback button:hover {
    background: #FE5449;
}

.callback button:focus {
    background: #FF8780;
}

.callback button img {
    display: block;
    margin-left: 10px;
    width: 27px;
    height: 27px;
}

.callback .form_politic {
    text-align: center;
}



.about {
    margin-bottom: 100px;
}

.about .cont {
    display: flex;
    justify-content: space-between;
}

.about_img {
    margin-left: -300px;
    width: 910px;
    height: 768px;
}

.about_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.about_info {
    width: 50%;
    padding: 88px 20px 50px 50px;
    position: relative;
}

.about_info:before {
    position: absolute;
    content: "";
    background: #F9F9F9;
    top: 0;
    right: calc(0% - 1500px);
    width: calc(100% + 1500px);
    height: calc(100% - 100px);
    z-index: 0;
}

.about_name {
    font-size: 32px;
    font-weight: 300;
    line-height: 40px;
    margin-bottom: 20px;
    position: relative;
}

.about_label {
    display: flex;
    margin-bottom: 31px;
    position: relative;
}

.about_label p {
    display: block;
    padding: 10px 30px;
    border: 1px solid #E4E4E4;
    border-radius: 500px;
}

.about_label p+p {
    margin-left: 5px;
}

.about_post {
    font-size: 18px;
    font-weight: 300;
    line-height: 23px;
    margin-bottom: 50px;
    position: relative;
}

.about ul {
    list-style: none;
    margin-bottom: 73px;
}

.about ul li {
    padding-left: 70px;
    position: relative;
    font-size: 18px;
    font-weight: 300;
    line-height: 23px;
}

.about ul li+li {
    margin-top: 20px;
}

.about ul li:before {
    position: absolute;
    content: "";
    width: 50px;
    height: 2px;
    background: #12AD7A;
    left: 0;
    top: 10px;
}

.about_sertificat {
    display: flex;
    position: relative;
}

.about_sertificat a {
    text-decoration: none;
}



.contacts {
    margin-bottom: 100px;
    padding-top: 95px;
}

.map_wrap {
    position: relative;
    max-width: 100%;
    transform: translateZ(0);
    width: 100%;
    height: 500px;
}

#map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.contacts_block {
    padding: 60px 100px;
    background: #12AD7A;
    display: inline-flex;
    align-items: center;
    top: -95px;
    left: 0;
    position: absolute;
}

.contacts_block-icon {
    margin-right: 20px;
    width: 60px;
    height: 60px;
}

.contacts_block-adress {
    font-size: 28px;
    font-weight: 300;
    line-height: 35px;
    color: #fff;
}




.last-section {
    background: url(../images/last-section-bg.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 20px;
}

.last-section .cont {
    display: flex;
    justify-content: space-between;
    position: relative;
    min-height: 992px;
}

.last-section_info {
    margin-top: 175px;
    margin-left: 250px;
}

.last-section_title {
    font-size: 100px;
    font-weight: 300;
    line-height: 130px;
    margin-bottom: 136px;
}

.last-section_title span {
    font-weight: 500;
    color: #FE7449;
}

.form_title {
    font-size: 28px;
    font-weight: 300;
    line-height: 39px;
    color: #fff;
    margin-bottom: 20px;
    letter-spacing: 0em;
}

.last-section form {
    max-width: 810px;
    width: 100%;
    margin-left: auto;
}

.last-section form .line {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.last-section_img {
    position: absolute;
    left: -305px;
    bottom: 0;
    width: 587px;
    height: 798px;
}

.last-section_img img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.last-section button {
    width: 400px;
    height: 85px;
    border-radius: 100px;
    background: #FE7449;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
    line-height: 85px;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .4s;
}

.last-section button:hover {
    background: #FE5449;
}

.last-section button:focus {
    background: #FF8780;
}

.last-section button img {
    display: block;
    margin-left: 10px;
    width: 27px;
    height: 27px;
}

.form_politic {
    font-size: 12px;
    font-weight: 300;
    line-height: 16px;
    margin-top: 20px;
    color: #fff;
}

.last-section_author {
    padding: 30px 50px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 500px;
    position: absolute;
    bottom: 26px;
    right: -150px;
}

.last-section_name {
    font-size: 22px;
    font-weight: 500;
    line-height: 31px;
    margin-bottom: 9px;
}

.last-section_post {
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
}



footer {
    padding: 50px 0 31px;
    background: #fff;
}

footer .cont {
    display: flex;
    justify-content: space-between;
}

.footer_left {
    font-size: 18px;
    font-weight: 300;
    line-height: 23px;
}

.footer_pravo {
    font-size: 18px;
    font-weight: 300;
    line-height: 23px;
}

.footer_politic {
    font-size: 18px;
    font-weight: 300;
    line-height: 23px;
    color: #FE7449;
    text-decoration: none;
}




.modal_callback {
    max-width: 640px;
    width: 100%;
    padding: 50px;
    background: #12AD7A;
    display: none;
}

.modal_callback-title {
    font-size: 32px;
    font-weight: 300;
    line-height: 40px;
    color: #fff;
    margin-bottom: 5px;
}

.modal_callback-text {
    font-size: 18px;
    font-weight: 300;
    line-height: 23px;
    margin-bottom: 40px;
    color: #fff;
}

.modal_callback .line {
    margin-bottom: 20px;
}

.modal_callback .line .field {
    margin-right: 0;
    width: 100%;
}

.modal_callback .line .field input {
    width: 100%;
}

.modal_callback-btn {
    width: 100%;
    height: 85px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FE7449;
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0.05em;
    color: #fff;
    margin-bottom: 20px;
    text-transform: uppercase;
    transition: all .4s;
}

.modal_callback-btn:hover {
    background: #FE5449;
}

.modal_callback-btn:focus {
    background: #FF8780;
}

.modal_callback button img {
    margin-left: 10px;
    display: block;
}

.fancybox__content>.carousel__button.is-close {
    top: 14px;
    right: 14px;
}

#modal_callback2 .modal_callback-title {
    margin-bottom: 40px;
}